@import 'assets/styles/variables.scss';

// Fonts
@font-face {
    font-family: 'Roboto-Black';
    src: url(assets/fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url(assets/fonts/Roboto/Roboto-BlackItalic.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url(assets/fonts/Roboto/Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url(assets/fonts/Roboto/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(assets/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url(assets/fonts/Roboto/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(assets/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url(assets/fonts/Roboto/Roboto-MediumItalic.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url(assets/fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'Roboto-ThinItalic';
    src: url(assets/fonts/Roboto/Roboto-ThinItalic.ttf);
}

* {
    font-family: 'Roboto-Regular';
}

html,
body,
#root {
    height: 100%;
}

body {
    background: $gray;
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.main__page {
    height: calc(100% - (#{$height-header} + #{$padding-main-page*2}));
    padding-top: $padding-main-page;
    padding-bottom: $padding-main-page;

    &--body {
        background-color: $white;
        border-radius: $border-radius-default;
        margin: 10px 0;
        padding: 20px;
    }

    &--empty {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        >* {
            margin-bottom: 10px;
        }
    }
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

@for $i from 1 through 6 {
    h#{$i} {
        margin: 0;
    }
}

.text {
    &__color {
        &--ligth {
            color: $text-color-ligth;
        }

        &--medium {
            color: $text-color-medium;
        }

        &--dark {
            color: $text-color-dark;
        }
    }

    &__font {
        &--Roboto-Medium {
            font-family: 'Roboto-Medium';
        }

        &--Roboto-Bold {
            font-family: 'Roboto-Bold';
        }
    }
}

.btn {
    border-radius: $border-radius-default;
    border: none;
    cursor: pointer;
    background-color: $gray;
    width: 100%;
    padding: 10px;

    &__group {
        border-radius: 0px $border-radius-default $border-radius-default 0px;
    }

    &__icon {
        width: 40px;

        &--default {
            font-size: 16px;
            color: $text-color-medium;
        }
    }

    &--primary {
        background-color: $blue;
        color: $white;
    }
}

.input {
    border: none;
    padding: 10px 15px;
    border-radius: $border-radius-default 0px 0px $border-radius-default;
    outline: none;
    width: 100%;
}

.animation-rotate {
    animation: rotate 1s linear infinite;
    -webkit-animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}