@import 'assets/styles/variables.scss';

.product__item {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 3px 7px -4px #c5c5c5;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: $border-radius-default;

    &--image {
        width: 170px;
        height: 170px;
        margin-right: 15px;
    }

    &--data {
        width: 100%;

        &-price {
            margin-bottom: 10px;
            font-size: 18px;
            cursor: pointer;


            .icon--free-shipping {
                border-radius: 50%;
                background-color: $green;
                color: $white;
                margin-left: 10px;
                font-size: 14px;
                padding: 4px;
                height: 15px;
                text-align: center;
                display: inline-block;
            }
        }

        &-title {
            cursor: pointer;
        }
    }
}