.breadCrumb {
    margin: 10px 0;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            cursor: pointer;

            &:not(:first-child):before {
                margin-right: 8px;
                margin-left: 8px;
                content: "\276D";
            }
        }
    }
}