// Colors
$yellow: #FFE500;
$gray: #EEEEEE;
$blue: #3582F2;
$white: #FFFFFF;
$green:#2ca05c;

// Text
$text-color-ligth: #999999;
$text-color-medium: #666666;
$text-color-dark: #333333;

// Size
$height-header: 70px;
$padding-main-page: 20px;
$border-radius-default: 5px;